.Cabecalho{
    display: flex;
    background: var(--preto);
    justify-content: space-between;
    color: var(--cinza);
    padding: 0.25.rem 0.5rem;
}

.Cabecalho a {
    align-content: center;
    text-decoration: none;
    color: var(--cinza);
}

.Cabecalho h1 {
    font-size: 1.3 rem;
}

.Cabecalho h1 span{
    color: var(--verde);
}